name: CI

on: [push]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action@2201.0.0
              with:
                  args:
                      pack
              env:
                  WORKING_DIR: ./gpeople
            - name: Ballerina Test
              uses: ballerina-platform/ballerina-action@2201.0.0
              with:
                  args:
                      test
              env:
                  CLIENT_ID: ${{ secrets.CLIENT_ID }}
                  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
                  REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
                  WORKING_DIR: ./gpeople

